/*Estilos Globales*/
:root{
    --white: #ffffff;
    --black: #000000;
    --azul-twitter:#1DA1F2; 
    --azul-linkedin:#0e76a8;
    --negro-gitHub:#171515;
    --azul-platzi:#12203d;
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');
    --sm: 16px;
    --md: 20px;
    --lg: 24px;
    --smr: 10px;
    --mdr: 14px;
    --lgr: 18px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*Estilos Generales*/
header{
    padding: 10px, 10px;
}
.image-container{
    display: flex;
}
.image-container img{
    width: 100%;
}
/*nav{
    display: flex;
    position: fixed;
    width: 100%;
    height: 60px;
    background: #12203d;
}*/
footer{
    display: flex;
    justify-content: center; 
}
/*estilos del nav*/

/*estilos de header*/
#logo{
    width: 100px;
    position:absolute;
    top: 20px;
    left: 20px;
}
#logo img{
    border-radius: 7px;
}
/*Estilos del hero*/
#hero #computadora{
    display: inline-block;
    width:100%;    
}
#hero .information-container{
    position: absolute;
    top: 12%;
    left: 40px;
    display: flex;
    width: 100%;
    color:#fff;
    padding: 0 50px;
    -webkit-text-stroke: .3px #000000;
}
#hero .information-container #foto{
    margin-left: 100px;
    width: 150px;
    display: none;
}
#hero .information-container #foto img{
    border-radius: 100%;
}
#hero .information-container .information{
    margin-left: 20px;    
    font-weight: bold;
    width: 80%
}
#hero .information-container .information h1{
    font-size: var(--lg);
}
#hero .information-container .information p{
    font-size: var(--md);
}
#hero .information-container .information span{
    display: inline-block;
    font-size: var(--sm);
    color: var(--azul-twitter);
    margin-bottom: 30px;
}
/*Estilos del Main*/
main {
    padding: 100px;
}

main .informacion{
    font-size: var(--md);
}
/*estilos del footer*/
section{
    align-content: center;
}
footer .social-icons{
    display: flex;
    justify-content: center;
    
    list-style: none;
}
footer .social-icons .social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}
footer .social-icons img{
    height: 50px
}
footer .social-icons #twitter{
    background: var(--azul-twitter);
}
footer .social-icons #linkedin{
    background: var(--azul-linkedin);
}
footer .social-icons #gitHub{
    background: var(--negro-gitHub);
}
footer .social-icons #platzi{
    background: var(--azul-platzi);
}
footer section div{
    margin: 5px;
}
/*diseño responsivo*/
 @media (max-width:640px) {
    #hero .image-container img{
        height: 174.84px;
    }
    
    #logo{
        width: 50px;
        top: 5px;
        left: 5px;
    }
    
    #hero .information-container{
        position: absolute;
        top: 30px;
        left: 0px;
        box-sizing:content-box;
        padding: 0 40px;
    }

    #hero .information-container .information h1{
        font-size: var(--lgr);
    }

    #hero .information-container .information p{
        font-size: var(--mdr);
    }

    #hero .information-container .information span{
        font-size: var(--smr);
        margin-bottom: 15px;
    }

    main {
        padding: 30px;
    }

    main .informacion{
        font-size: var(--mdr);
    }

    footer{
        width: 100%;
        position: absolute;
        bottom: 20px;
    }

    footer .social-icons{
        justify-content: center;
    }

    footer .social-icons .social-icon{
        padding: 5px;
        border-radius: 5px;
        height: 100%;
        width: 100%;
    }

    footer .social-icons img{
        height: 30px
    }
}