:root{
    --white: #ffffff;
    --black: #000000;
    --azul-linkedin:#0e76a8;
    --negro-gitHub:#171515;
    --azul-platzi:#12203d;
    @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');
    --sm: 16px;
    --md: 20px;
    --lg: 24px;
    
    --smr: 10px;
    --mdr: 14px;
    --lgr: 18px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.div-space{
    height: 50px;
}
.div-space1{
    height: 160px;
}
.nav-active {
    border-radius: 10px;
    color: #12203d;
    background-color: white;
}
h2{
    
    border-bottom: 0.5px solid black;
    margin: 25px;
}
/***/
#hero{
    top: 100px;
    background-image: url('https://img.freepik.com/foto-gratis/fondo-cuadricula-digital-futurista-azul-oscuro-degradado_53876-129728.jpg?w=826&t=st=1681071767~exp=1681072367~hmac=92a06b09df645182099ee194896878b33cd3c110fad29fb7166e1d52baa412b4');
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100%;
}
#hero #computadora{
    display: inline-block;
    width:100%;   
}
#hero #computadora img{
    width:100%; 
    height: 270px;   
}
#hero .information-container{
    position: static;
    top: 12%;
    display: flex;
    width: 100%;
    color:#fff;
    -webkit-text-stroke: .3px var(--black);
    justify-content: center;
}
#hero .information-container #foto{
    margin-left: 100px;
    width: 150px;
    display: none;
}
#hero .information-container #foto img{
    border-radius: 100%;
}
#hero .information-container .information{
    margin-left: 20px;    
    font-weight: bold;
    width: 80%
}
#hero .information-container .information h1{
    font-size: var(--lg);
}
#hero .information-container .information p{
    font-size: var(--md);
}
#hero .information-container .information span{
    display: inline-block;
    font-size: var(--sm);
    color: var(--azul-twitter);
    margin-bottom: 30px;
}
/**/
.nav{
    width: 100%;
    padding: 10px;
    background-color: #12203d;
    color: #ffffff;
    position: fixed;
}
.ul-nav{
    display: flex;
    flex-direction: row;
}
ul{ 
    list-style: none;
    align-items: center;
    justify-content: center;
}
.li-nav{
  padding: 5px;  
}
a{
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
}
.div-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
}
.h3-nav{
    
}

/**/

/**/
.container-acerca-de{
    margin-top: 60px;
}
.acerca-de{
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}
.div-acerca{
    border-radius: 30px;
    margin: 15px;
    padding: 10px;
    border: 0.5px solid  #12203d;
    height: auto;
    width: 30%;
}
/**/
h3{
    padding: 10px;
 font-size: var(--md);   
}
.informacion{
    padding: 15px;
    margin-top: 10px;
    font-size: var(--sm);
}
.tabla-informacion{
    margin-top: 10px;
    padding: 15px;
    margin-bottom: 20px;
}
td{
    padding: 5px;
}

.social-icons{
    display: flex;
    justify-content: center;
    list-style: none;
}
.social-icons .social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
}
.social-icons img{
    height: 25px
}
.social-icons #x{
    background: black;
}
.social-icons #linkedin{
    background: var(--azul-linkedin);
}
.social-icons #gitHub{
    background: var(--negro-gitHub);
}
.social-icons #platzi{
    background: var(--azul-platzi);
}

.socia{
    margin: 5px;
}
.logo img{
    width: 50px;
}


/**/
.educacion{
    padding: 15px;
}
.div-educacion{
    padding: 20px;
}
h4{
    font-size: var(--lg);
}
.span-educaion{
    font-size: var(--md);
}
.education ul{
    left: 10px;
}
.li-educacion{
    list-style: disc;
    padding: 5px;
}

.skills{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.label{
    padding-top: 15px;
}
#file{
    width: 100%;
    padding-bottom:15px;
}

/**/

/*.div-form{
    margin: 30px;
    border-radius: 20px;
    border: 0.5px solid black;
    display: flex;

    align-items: center;
    justify-content: center;
    height: 500px;
}*/
.div-form{ 
    margin-left: 450px;
    left: 50px;
    background-color: #0e76a8;
    padding: 30px;
    width: 30%;
    margin-bottom: 30px;
}
.form-input{
    font-family: inherit;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 0.5px solid black;
    border-radius: 0.2em;
}
.form-input--message{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: 0.5em;
    background-color: #12203d;
    color: white;
    font-weight: 300;

    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
}
.form-cta{
    font-family: inherit;
}
.form-container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}